{% extends 'blog/base.html' %}

{% block keyword %}
    <a href="{% url 'index' %}">About Me</a>
{% endblock %}

{% block content %}
    <div class="widewrapper main">
        <div class="container about">
            <h1>Hello, My name is <span class="about-bold">Spark Jiao</span></h1>
            <p>I am a person cherish pets and consider them to be members of my own families. I feel that I not only love my pets, but my pets love me in return, we all have much to learn from the way we love our pets. </p>
            <p>I feel no superiority over my beloved pets when I look at them in the eyes, and eventually after they lived with me long enough to communicate. You give much love and affection to your pet, often the pet is content simply to know they are with you in the same room. </p>

            <div class="about-button">
                <a class="btn btn-xlarge btn-clean-one" href="{% url 'contact' %}">Contact Me</a>
            </div>
            <hr>
        </div>

    </div>
{% endblock %}
   
{% block aboutme %}
{% endblock %}
