<html>
    <head>
        <title>Pet dogs</title>
    </head>
    <body>
        <div>
            <h1><a href="">Pet Dogs Blog</a></h1>
        </div>
        
        <div>
            
            <h2><a href="">Pug</a></h2>
            <p>El pug o carlino es una raza canina con origen histórico en China, pero con el 
            patrocinio de Reino Unido. Se trata de un perro pequeño de tipo molosoide, utilizado 
            como mascota. En una encuesta realizada por la FCI, entre el año 2012-2013, fue 
            nombrado dentro de las treinta razas más populares del mundo.</p>
            <p>published:11.06.2017, 10:19</p>
        </div>
       
        <div>
            
            <h2><a href="">Bulldog</a></h2>
            <p>El bulldog o bulldog inglés —en inglés: English Bulldog— es una raza canina 
            originaria del Reino Unido, que inicialmente fue utilizada para apostar en peleas 
            de perros durante el siglo XVII, aunque en 1835 esta práctica fue prohibida en Reino 
            Unido. En la actualidad este perro es uno de los símbolos de Inglaterra</p>
            <p>published:12.06.2017, 14:50</p>
        </div>    
         
        <div>
            
            <h2><a href="">French Bulldog</a></h2>
            <p>El bulldog francés es una raza canina originaria de Francia y establecida como tal 
            a finales del siglo XIX. Fueron criados, por primera vez, por encajeras en Inglaterra 
            y luego en Francia cuando se desplazaron por la Revolución industrial. No obstante, 
            EEUU y Francia han desempeñado importantes papeles en el desarrollo de esta raza.</p>
            <p>published:12.06.2017, 15:35</p>
        </div>
        
    </body>
</html>
